<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container">
    <center><h1>RTK</h1></center>

    <center><img src="https://careers-website--josephmaxwell4.repl.co/static/banner.jpg" height="312" class="image-fluid"/>
    </center>


    <center><h2 class="mt-4">About Us</h2></center>
    <div class="row mt-4">
      <div class="col-md-6">
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget sollicitudin dolor, eu scelerisque ipsum. Quisque porta sapien sit amet sem luctus fermentum. Fusce interdum suscipit odio ut scelerisque. Aenean porta erat vitae semper auctor. Donec volutpat sapien ut consequat tincidunt. Suspendisse mattis ut urna ac bibendum. Sed non lectus erat. Donec sit amet ultrices urna. Nulla erat ligula, dapibus nec felis eget, mollis venenatis nibh. Vivamus fringilla euismod turpis sit amet luctus. Sed ut erat vitae metus euismod fermentum. Duis interdum mauris a lacus efficitur gravida. Donec at urna vulputate, consectetur quam vitae, vulputate eros. Curabitur a metus finibus, lobortis augue sed, facilisis lectus. Duis sollicitudin tincidunt arcu, in facilisis nisl fermentum sed. Duis ac odio eget ante tristique condimentum id id massa. </p>
      </div>
    <div class="d-none d-md-block col-md-6">
      <img src="https://careers-website--josephmaxwell4.repl.co/static/people.jpg" style="height:312px;border-radius:4px" class="image-fluid"/>
    </div>
    </div>

  <center><h2 class="text-center mt-4 mb-4">Jobs</h2></center>
  {% for job in jobs %}
    {% include 'jobindex.html' %}
  {% endfor %}
  <div>
  <center><button class="btn btn-info btn-lg mt-4">Contact Us</button></center>

    {% include 'footer.html' %}
  </div>
</div>
</body>
</html>