<div class="border-bottom mb-2 pb-2 row">
  <div class="col-11">
    <div>
      <h4 class="mb-2">{{ job['title'] }}</h4>
    </div>
    <div>
      <b>Location:</b>{{ job['location'] }}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b> {{ job['salary'] }}
    </div>
    {% endif %}
  </div>
  <div class="col-1">
    <a href="mailto:JosephMaxlwl@gmail.com?subject=Wanna%20Talk%3F&body=Hey%2C%20{{job['title']}}%0A%0AWhy%20don't%20we%20have%20a%20chat%20about%20{{job['location']}}" type="button" class="btn btn-outline-primary">Info</a>
  </div>
</div>